NODE_ENV=production
PORT=3001

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=intesa_rsa_new
DB_CONNECTION_LIMIT=10

# Dominio reale usato dal frontend in produzione, ad esempio https://dominio.it
CORS_ORIGIN=

# true se il backend è dietro Nginx o un altro reverse proxy in produzione.
# Nel tuo caso con Nginx davanti va normalmente messo a true.
TRUST_PROXY=true

# Chiave segreta lunga e casuale. Da sostituire con un valore privato reale.
JWT_SECRET=METTI_UN_SECRET_LUNGO_E_RANDOM_COME_GA8NXEybQqmnmuM9gYsofacUHy16Dmm8Y4nunDfDcz8HkNZXz39F2MHLMQK0s7fk

# Durata della sessione in ore.
SESSION_DURATION_HOURS=6

# true se il sito è servito in HTTPS in produzione.
COOKIE_SECURE=true

# In questo progetto lax è la scelta più adatta.
COOKIE_SAME_SITE=lax

# Di solito può restare vuoto se frontend e backend sono sotto lo stesso host.
# Impostare solo se bisogna condividere il cookie tra sottodomini, ad esempio .dominio.it
COOKIE_DOMAIN=

# Meglio usare un path assoluto in produzione.
# Esempio: /var/www/dew-gestionale/storage/food-images
FOOD_IMAGES_DIR=../storage/food-images
FOOD_IMAGES_PUBLIC_PATH=/food-images

# Meglio usare un path assoluto in produzione.
# Esempio: /var/www/dew-gestionale/logs
LOG_DIR=../logs

# Livelli utili: debug, info, warn, error
LOG_LEVEL=info

# true permette che il job automatico parta sul server.
# PM2 non obbliga né true né false: dipende solo dal fatto se si voglia attivare il job.
# Se si usa una sola istanza backend sulla VM, true è la scelta consigliata.
ENABLE_SCHEDULERS=true
SCHEDULER_LOCK_NAME=dew:process-expired-dish-suspensions
